{% extends 'base.html' %}

{% block title %}Tarefas{% endblock %}

{% block content %}
    <h2>Minhas Tarefas</h2>
    <a href="{% url 'tarefa-create' %}">Nova Tarefa</a>

    {% if tarefas %}
        <table>
           <thead>
    <tr>
        <th>Título</th>
        <th>Status</th>
        <th>Categoria</th>
        <th>Prioridade</th>
        <th>Ações</th>
    </tr>
</thead>
            <tbody>
                {% for tarefa in tarefas %}
                <tr>
                    <td>{{ tarefa.titulo }}</td>
                    <td>{{ tarefa.get_status_display }}</td>
                    <td>{{ tarefa.categoria }}</td>
                    <td>{{ tarefa.prioridade }}</td>
                    <td>
                        <a href="{% url 'tarefa-edit' tarefa.pk %}">Editar</a>
                        <a href="{% url 'tarefa-delete' tarefa.pk %}">Excluir</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>Nenhuma tarefa cadastrada ainda.</p>
    {% endif %}
{% endblock %}